.apph1{
    text-align: center;
   font-family:fantasy;
   letter-spacing: 1.5px;
  }
  .appbox{
    border:3px;
    border-color: blue;
    border-style:groove;
    width: 300px;
    height: 400px;
    padding: 50px;
    margin: 20px;
    float:right;
    margin-top: 130px;
    margin-right: 180px;
    background-color: rgb(123, 222, 222);
  }
  .email{
    width: 300px;
  }
  .password{
    width: 300px;
  }
  .submitbutton{
    text-align: center;
  }
  
  .body1{
    background-image: url("https://flightandhotel.in/wp-content/uploads/2021/07/Best-road-trips-in-INDIA-Best-Routes-amp-Places.jpg");
    
  }