.input{
    height: 40px;
    width:400px;
    font-size:16px;
}
.form-box{
    height:670px;
    width:500px;
    background-color: aqua;
    
}
#i5vyy{
    height:100px;
    width:400px;
}